{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MARVEL</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
  </head>
  <body>
    <div class="containerr">
    <div class="video-wrapper">
      <video autoplay muted >
         <source src="{% static 'images/logo.mp4' %}">
      </video>
      <div class="bottom-right">
        <h1>Welcome to Explore Marvel !</h1>
        <ul>
          <a class="showlink" href="{% url 'index' %}">HOME</a>
          <a class="showlink" href="{% url 'characterslist' %}">CHARACTERS</a>
          <a class="showlink" href="{% url 'comicslist' %}">COMICS</a>
          <a class="showlink" href="{% url 'serieslist' %}">SERIES</a>
          <a class="showlink" href="{% url 'eventslist' %}">EVENTS</a>
          <a class="showlink" href="{% url 'storieslist' %}">STORIES</a>
        </ul>
      </div>
    </div>
   </div>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>