{% extends "dashboard/base.html" %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">

<h1 style="text-align: center;">{{ r.name }}</h1>
<div style="display:inline-block;vertical-align:top;">
<img src="{{ r.thumbnail }}">
</div>
<div style="display:inline-block;  width: 70%; margin-left: 3%;">

<p>
    <dt class="title">Description: </dt>
    <p style="    display: inline-block; margin-left: 20px;">
        {{ r.description }}
    </p>
</p>
<p>
    <dt class="title"><a style="color: black;" href="{% url 'comicslist' %}">Comics: </a></dt>
    <ol>
        {% for value in r.comics.items %}
        <li><a style="color: black;" href="{% url 'comics' pk=value.resourceURI %}">{{ value.name }}</a></li>
        {% endfor %}
    </ol>
</p>
<p>
    <dt class="title"><a style="color: black;" href="{% url 'serieslist' %}">Series: </a></dt>
    <ol>
        {% for value in r.series.items %}
        <li><a style="color: black;" href="{% url 'series' pk=value.resourceURI %}">{{ value.name }}</a></li>
        {% endfor %}
    </ol>
</p>
<p>
    <dt class="title"><a style="color: black;" href="{% url 'storieslist' %}">Stories: </a></dt>
    <ol>
        {% for value in r.stories.items %}
        <li><a style="color: black;" href="{% url 'stories' pk=value.resourceURI %}">{{ value.name }}</a></li>
        {% endfor %}
    </ol>
</p>
<p>
    <dt class="title"><a style="color: black;" href="{% url 'eventslist' %}">Events: </a></dt>
    <ol>
        {% for value in r.events.items %}
        <li><a style="color: black;" href="{% url 'events' pk=value.resourceURI %}">{{ value.name }}</a></li>
        {% endfor %}
    </ol>
</p>
</div>
{% endblock %}